body, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  color: #333;
  font: 14px/20px Helvetica Neue, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  line-height: 1;
}

h2 {
  font-size: 1.5em;
  margin: .67em 0;
}

h3 {
  font-size: 1em;
}

:focus {
  outline: none;
}

a {
  color: $link-color;
  &:hover, &:focus {
    color: $link-hover-color;
  }
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0 0 15px;
}